.weUseThePowerOfStorytelliParent {
	width: 100%;
	position: relative;
	background-color: #fff;
	height: 100%; /* 776px -> fill parent (first section is 100vh) */
	overflow: hidden;
	text-align: left;
	font-size: 76px;
	color: #000;
	font-family: 'PP Editorial New';
}

.weUseTheContainer {
	position: absolute;
	top: 7.22%; /* 56px / 776px */
	left: 4.49%; /* 69px / 1536px */
	letter-spacing: 0.02em;
	line-height: 122.71%;
}

.weUseThe {
	margin: 0;
}

.img202411290448467Icon {
	position: absolute;
	top: 54.76%; /* 425px / 776px */
	left: 33.33%; /* 512px / 1536px */
	width: 63.20%; /* 970.5px / 1536px */
	height: 62.73%; /* 487px / 776px */
	object-fit: cover;
	border: 2px solid #000;
}

.img202501051356543Icon {
	position: absolute;
	top: 54.76%; /* 425px / 776px */
	left: 4.49%; /* 69px / 1536px */
	width: 24.22%; /* 372px / 1536px */
	height: 85.18%; /* 661px / 776px */
	object-fit: cover;
	border: 2px solid #000;
}


